@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;

}

:root {
  --font-roboto: "Roboto Slab", serif;
}

body {
  font-family: var(--font-roboto);
  background-repeat: no-repeat;
  background: linear-gradient(to left bottom, 
  #ea73ec,
  #ca73ec, 
  #9b9fff, 
  #00beff, 
  #00d2ff,
  #00dfe7, 
  #2ee0df, 
  #45e1d6, 
  #57e1ce, 
  #36dbe0, 
  #27d3ee, 
  #3dcaf8, 
  #5fc0fb) 
  fixed;
}

.App {
  align-items: center;
  justify-content: center;
}

.title h1 {
  color: #fff;
  text-align: center;
  margin: 30px 0;
  font-weight: 900;
  text-shadow: 2px 3px 0px #898999;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 2px 3px 10px rgba(188, 188, 188);
}

form input {
  margin-top: 10px;
  width: 100%;
  padding: 10px 5px;
  outline: none;
  font-size: 16px;
  font-family: var(--font-roboto);
  font-weight: 500;
  box-shadow: 1px 2px 10px rgb(188, 188, 188);
}

.input_container {
  margin-bottom: 20px;
}

.btn_container{
  text-align: center;
  margin-bottom: 5px;
}

.btn_container button {
  background: #333;
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: var(--font-roboto);
  font-weight: 500;
}
